<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto IntelliLearn</title>
    <link rel="stylesheet" href="/assets/styles/contacts.css">
</head>
<body>
    <div class="contenedor-contacto">
        <header>
            <div class="contenLogo">
                <img src="/assets/icons/logo.svg" alt="Logo de IntelliLearn">
            <h1>Ponte en contacto con <span class="resaltar">NOSOTROS</span></h1>
            <p>¡Estamos aquí para ti! ¿Cómo podemos ayudar?</p>
        </header>

        <div class="formulario-contacto">
            <form>
                <div class="campo">
                    <input type="text" id="nombre" name="nombre" placeholder="Introduzca su nombre">
                </div>
                
                <div class="campo">
                    <input type="email" id="email" name="email" placeholder="Introduce tu dirección de correo electrónico">
                </div>
                
                <div class="campo">
                    <textarea id="mensaje" name="mensaje" rows="4" placeholder="Adelante, estamos escuchando..."></textarea>
                </div>
                
                <button type="submit" class="boton-enviar">SUBIR</button>
            </form>
        </div>

        <aside class="informacion-contacto">
            <img src="/assets/img/img_contactanos.png" alt="Ilustración de contacto">
            <!--<p><i class="icono-telefono"></i> 932210344</p>-->
            <!--<p><i class="icono-email"></i> jhimsebas26@gmail.com</p>-->
        </aside>

        <div class="redes-sociales">
            <a href="#" class="icono-facebook"></a>
            <a href="#" class="icono-twitter"></a>
            <a href="#" class="icono-linkedin"></a>
        </div>
    </div>
</body>
</html>
