<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/assets/styles/index.css">
    <title>IntelliLearn</title>
</head>
<body>
    <header class="header">
        <section class="left-header">
            <img src="/assets/icons/logo.svg" alt="Logo de IntelliLearn">
            <h1 class="">IntelliLearn</h1>
            <nav>
                <ul>
                    <li><a href="universidades.html">Universidades</a></li>
                    <li><a href="principal.html">Salas</a></li>
                    <li><a href="contactanos.html">Contáctanos</a></li>
                </ul>
            </nav>
        </section>
        <section class="right-header">
            {% if is_logued %}
                        <nav>
                            <ul>
                                <li class="btn-login">
                                    <a href="#">Cerrar Sesión</a>
                                    <img src="/assets/icons/estudiante.png" alt="Icono de iniciar sesion">
                                </li>
                                <li>
                                    {{ estudiante.name }}
                                </li>
                                <li>
                                    <img src="{{ estudiante.avatar }}" alt="Avatar de usuario">
                                </li>
                            </ul>
                        </nav>
                    {% else %}
                        <nav>
                            <ul>
                                <li class="btn-SingUp"><a href="/register">Registrarse</a></li>
                                <li class="btn-login">
                                    <a href="/login">Iniciar Sesión</a>
                                    <img src="/assets/icons/estudiante.png" alt="Icono de iniciar sesion">
                                </li>
                            </ul>
                        </nav>
            {% endif %}
        </section>
    </header>
    <body class="body">
        <section class="body-principal">
            <section class="left-principal">
                <h1 class="principal-title">
                    Únete A Nuestra Comunidad <span class="body-title-marca">Intellilearn</span>
                </h1>
                <p>
                    Repasa Tus Asignaturas Colaborativamente
                </p>
                <div class="principal-footer">
                    <button class="btn-join">Empieza Ahora  ></button>
                    <div>
                        <img src="/assets/img/arrow.png" alt="Icono de flecha">
                    </div>
                </div>
            </section>
            <section class="principal-imagen">
                <img src="/assets/img/estudianteBody.png" alt="Imagen de estudiante">
            </section>
        </section>
        <section class="body-inf">
            <section class="inf-porque">
                <h2>Por qué <span>IntelliLearn</span>?</h2>
                <p>
                    IntelliLearn es una plataforma innovadora diseñada para los estudiantes de las Universidades. Facilita la organización y el acceso a recursos educativos, eliminando barreras de comunicación y coordinación. IntelliLearn centraliza la programación y el acceso a grupos de estudio, optimizando el potencial de aprendizaje colaborativo.
                </p>
            </section>
            <section class="inf-beneficios">
                <div class="inf-beneficios-1">
                    <img src="/assets/img/beneficio1.png" alt="Icono de estudiante">
                    <h3>Organización Eficiente</h3>
                </div>
                <div class="inf-beneficios-2">
                    <img src="/assets/img/beneficio2.png" alt="Icono de estudiante">
                    <h3>Acceso a Recursos</h3>
                </div>
                <div class="inf-beneficios-3">
                    <img src="/assets/img/beneficio3.png" alt="Icono de estudiante">
                    <h3>Comunicación en Tiempo Real</h3>
                </div>
                <div class="inf-beneficios-4">
                    <img src="/assets/img/beneficio4.png" alt="Icono de estudiante">
                    <h3>Mejora del Rendimiento Académico</h3>
                </div>
                <div class="inf-beneficios-5">
                    <img src="/assets/img/beneficio5.png" alt="Icono de estudiante">
                    <h3>Notificaciones y Recordatorios</h3>
                </div>
                <div class="inf-beneficios-6">
                    <img src="/assets/img/beneficio6.png" alt="Icono de estudiante">
                    <h3>Seguridad y Privacidad</h3>
                </div>
                <div class="inf-beneficios-7">
                    <img src="/assets/img/beneficio7.png" alt="Icono de estudiante">
                    <h3>Intaerfaz Amigable</h3>
                </div>
            </section>
            <section class="inf-creada">
                <img src="/assets/img/consiste.webp" alt="Imagen de estudiante">
                <div class="creada-right">
                    <h2>¿Para qué está creada la página IntelliLearn?</h2>
                    <p>
                        IntelliLearn se ha creado para resolver la falta de una plataforma centralizada para la organización de repasos y reforzamientos académicos. Permite a los estudiantes programar y unirse a salas de estudio virtuales, compartir recursos y colaborar en tiempo real, apoyando su éxito académico.
                    </p>
                    <h2>Organización de Salas de Estudio</h2>
                    <p>
                        La plataforma permite a los estudiantes crear y programar salas de estudio según sus necesidades. Cada sala puede tener una descripción detallada, una imagen representativa y un horario específico para facilitar la participación de otros estudiantes.
                    </p>
                </div>
            </section>
        </section>
        <section class="body-sponsors">
            <h2>Nuestros <span>Sponsors</span></h2>
            <p>En IntelliLearn, contamos con el apoyo invaluable de nuestros patrocinadores, quienes han sido fundamentales para el desarrollo y éxito de nuestra plataforma. Gracias a su colaboración, hemos podido crear un espacio educativo innovador y accesible para todos los estudiantes de la Universidad Continental. Nos enorgullece trabajar con organizaciones comprometidas con la educación y la tecnología, quienes comparten nuestra visión de facilitar el aprendizaje colaborativo y el acceso a recursos académicos de calidad.</p>
            <div class="sponsors">
                <img src="/assets/img/universidadcontinental.png" alt="Logo de sponsor">
                <img src="/assets/img/cisco.jpg" alt="Logo de sponsor">
                <img src="/assets/img/fundetec.jpg" alt="Logo de sponsor">
                <img src="/assets/img/globallearning.jpg" alt="Logo de sponsor">
                <img src="/assets/img/google.png" alt="Logo de sponsor">
                <img src="/assets/img/microsoft.jpg" alt="Logo de sponsor">
            </div>
        </section>
        <section class="body-enterate">
            <div>
                <h2>Entérate de todas las salas de repaso disponibles en <span>Intellilear</span> de tu ciclo</h2>
            </div>
            <div class="enterate-email">
                <input type="email" placeholder="Ingresa tu correo electrónico">
                <button>Enviar</button>
            </div>
        </section>
    </body>
    <footer class="footer">
        <section class="top">
            <div class="footer-explanation">
                <p>
                    Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum tempore minima aliquid ullam nam perferendis sequi ea ab.
                </p>
            </div>
            <div class="footer-contenLogo">
                <img src="/assets/icons/logo.svg" alt="Logo de IntelliLearn">
                <h1>IntelliLearn</h1>
            </div>
        </section>
        <section class="bottom">
            <div class="footer-terminos">
                <a href="privacidad.html">Política de Privacidad</a>
                <a href="terminos.html">Términos y Condiciones</a>
            </div>
            <div class="footer-copyriht">
                <p>Copyright © 2024 Reservado</p>
            </div>
        </section>
    </footer>
</body>
</html>